In [14]:
#1-Gross Salary Calculation
basic_salary = float(input("Enter basic salary: "))

if basic_salary <= 10000:
    hra = 0.20 * basic_salary
    da = 0.80 * basic_salary
elif basic_salary <= 20000:
    hra = 0.25 * basic_salary
    da = 0.90 * basic_salary
else:
    hra = 0.30 * basic_salary
    da = 0.95 * basic_salary

gross_salary = basic_salary + hra + da
print("Gross Salary =", gross_salary)

Enter basic salary:  20000

Gross Salary = 43000.0

In [15]:
#2-Discount on items
quantity = int(input("Enter quantity: "))
price = float(input("Enter price per item: "))

total = quantity * price

if quantity > 100:
    total = total - (0.10 * total)

print("Total expenses =", total)

Enter quantity:  3
Enter price per item:  67

Total expenses = 201.0

In [16]:
#3-Bonus on years of service
current_year = int(input("Enter current year: "))
join_year = int(input("Enter joining year: "))

years = current_year - join_year

if years > 3:
    print("Bonus = 2500")
else:
    print("No Bonus")

Enter current year:  2025
Enter joining year:  2005

Bonus = 2500

In [17]:
#4-Gross salary
basic_salary = float(input("Enter basic salary: "))

if basic_salary < 1500:
    hra = 0.10 * basic_salary
    da = 0.90 * basic_salary
else:
    hra = 500
    da = 0.98 * basic_salary

gross_salary = basic_salary + hra + da
print("Gross Salary =", gross_salary)

Enter basic salary:  8000

Gross Salary = 16340.0

In [18]:
#5-Division of student
subject1 = float(input("Enter marks of subject 1: "))
subject2 = float(input("Enter marks of subject 2: "))
subject3 = float(input("Enter marks of subject 3: "))
subject4 = float(input("Enter marks of subject 4: "))
subject5 = float(input("Enter marks of subject 5: "))
total_marks = subject1 + subject2 + subject3 + subject4 + subject5
print(total_marks)
percentage = total_marks/5
print(percentage)
if percentage >= 60:
    print("First Division")
elif percentage >= 50:
    print("Second Division")
elif percentage >= 40:
    print("Third Division")
else:
    print("Fail")

Enter marks of subject 1:  45
Enter marks of subject 2:  20
Enter marks of subject 3:  46
Enter marks of subject 4:  79
Enter marks of subject 5:  80

270.0
54.0
Second Division

In [19]:
#6-Driver Insurance
married = input("Is the driver married? : ")
if married == "yes":
    print("Driver is insured")
else:
    gender = input("Enter gender : ")
    age = int(input("Enter age: "))

    if gender == "male" and age > 30:
        print("Driver is insured")
    elif gender == "female" and age > 25:
        print("Driver is insured")
    else:
        print("Driver is not insured")

Is the driver married? :  yes

Driver is insured

In [20]:
#7-Salary as per table
gender = input("Enter gender : ")
service = int(input("Enter years of service: "))
qualification = input("Enter qualification : ")

if gender == "male":
    if service >= 10 and qualification == "post-graduate":
        salary = 15000
    elif service >= 10 and qualification == "graduate":
        salary = 10000
    elif service < 10 and qualification == "post-graduate":
        salary = 10000
    else:
        salary = 7000
elif gender == "female":
    if service >= 10 and qualification == "post-graduate":
        salary = 12000
    elif service >= 10 and qualification == "graduate":
        salary = 9000
    elif service < 10 and qualification == "post-graduate":
        salary = 10000
    else:
        salary = 6000

print("Salary =", salary)

Enter gender :  female
Enter years of service:  10
Enter qualification :  graduate

Salary = 9000